<img src="<%= song.album_image_url %>">
    <h3><%= song.song %></h3>
    <h5><a href="https://en.wikipedia.org/wiki/<%= song.artist %>" target="_blank"><%= song.artist %></a></h5>

    <h6><b>Album:</b> <%= song.album %></h6>
    <h6><b>Genre:</b> <%= song.genre %></h6>
    <h6><b>Language:</b> <a href="https://en.wikipedia.org/wiki/<%= song.country %>"><%= song.country %></a></h6>
    <form action="/show" method="POST">
        <input type="hidden" value="<%= song.artist %>" name="artist">
        <input type="hidden" value="<%= song.album %>" name="album">
        <input type="hidden" value="<%= song.song %>" name="song">
        <input type="hidden" value="<%= song.genre %>" name="genre">
        <input type="hidden" value="<%= song.genre_id %>" name="genre_id">
        <input type="hidden" value="<%= song.country %>" name="country">
        <input type="hidden" value="<%= song.album_image_url %>" name="album_image_url">
        <input type="hidden" value="<%= song.album_release_date %>" name="album_release_date">