<%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <h2>Your Saved Playlist</h2>
    <section class="playlist">
        <% playList.forEach(song => { %>
            <li>
                <img src="<%= song.album_image_url %>">
                <h3><%= song.song %></h3>
                <h5><%= song.artist %></h5>

                <h6><b>Album:</b> <%= song.album %></h6>
                <h6><b>Genre:</b> <%= song.genre %></h6>
                <h6><b>Country of Origin:</b> <%= song.country %></h6>
                <form action="/saved/ method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Remove from playlist">
            </li>
        <% }); %>
    </section>
</main>
<%- include('../layout/footer.ejs') %>
</body>